* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    background-color:antiquewhite;
}

main {
    background-color: rgb(255, 255, 255);
    max-width: 800px;
    margin: auto;
}

section div img {
    width: 100%;
}

section {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}

button{
    flex: 0 0 50px;
}

article {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 8px;


    
}

.kepek {
    flex: 0 0 calc(25% - 8px);
}

.kepek img {
    width: 100%;
}